@import './variables.scss';

.toolbar {
    height: $toolbar-height;
    background-color: rgb(216, 216, 216);
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 5px gray;

    border-bottom: 1px solid $primary-color;
    z-index: 999;

    &__button {
        height: $toolbar-height;
        width: $toolbar-height;
        background-color: transparent;
        margin-left: 10px;
        border: none;
        outline: none;
        cursor: pointer;
        &:hover {
            background-color: gray;
            transition: 0.3s;
        }
    }
}

.setting-bar {
    height: $toolbar-height;
    background-color: rgb(216, 216, 216);
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 5px gray;
    top: $toolbar-height;
    z-index: 998;
    border-bottom: 1px solid $primary-color;
}
