$background-color: #e5e5e5;
$primary-color: #363636;
$secondary-color: #ffffff;
$toolbar-height: 40px;
$background-bar: #00000074;
$button-color: #f5f5f5;
$button-color-active: #eaeaea;
$button-background-active: #0e0e0e;
$button-border-active: #393939;
$height-app: 100vh;
$width-app: 100vw;
$max-height-app: 100vh;
$black-color: #000000;
$white-color: #ffffff;
