@import '../../styles/variables.scss';

canvas {
    position: absolute;
    left: 20px;
    top: 100px;
    right: 20px;
    bottom: 20px;
    background-color: $white-color;
    border: 1px solid $black-color;
}
